@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  text-align: center;
  background: linear-gradient(135deg, #008cfe, #88d0ff , #42dffe, #a0faf6, #b8fa74, #f8c689, #ff83b6);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  color: #222;  
  height: 100%;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

#welcome-container {  
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

#welcome-container input {
  height: 45px;
  width: 50%;
  border: 0 none;
  padding: 15px;
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  border-radius: 5px;
}

#welcome-message {
  text-transform: capitalize;
}

#controller, #drawn-words {  
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#drawn-words {
  margin: 10px;
}

#card-container {
  margin-bottom: 20px;
}

#draw-word, #start-game, #reset-game {
  padding: 20px 20px;
  font-size: 16px;
  margin: 5px;  
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#start-game {
  background: #008cfe;
}

#draw-word {
  background-color: darkgreen;
}

#reset-game {
  background-color: darkred;
}

#current-word {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  animation: fadeIn 1s ease-in-out;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 2px solid #222;
  margin: 10px;  
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  word-break: break-word;
}

.card-header {
  background-color: #222;
  color: white;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;  
  border-radius: 5px 5px 0 0;
}

.card table {
  border-collapse: collapse;
  width: 100%;
}

.card td, .card th {
  border: 2px solid #222;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
  width: 85px;
  height: 85px;
  word-wrap: break-word;
  overflow: hidden;
  box-sizing: border-box
}

.card td.selected {
  background-color: #90ee90;
  animation: pulse 0.5s;
}

.card td.freespace {
  background-color: #eee;
  font-weight: bold;
}

#words-list {
  list-style: none;
  padding: 0;
}

#words-list li {
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  .card td, .card th {
    padding: 5px;
    font-size: 14px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
